@page
@model IndexModel
@{
    ViewData["Title"] = "Street Workout Map Bulgaria";
}

<section class="hero-section">

    <img class="hero-logo"
         src="~/images/logo/full_logo_cropped.png"
         alt="SW-MAP" />

    <p class="hero-description">
        Най-пълната карта на street workout площадките
        в България.
    </p>

    <button id="find-nearest-button">
        Намери най-близката площадка!
    </button>

</section>


<section class="spot-search-section">
    <div class="spot-search">
        <input id="spot-search-input"
               type="search"
               placeholder="Търси площадка, квартал или град..."
               autocomplete="off"
               aria-label="Търси площадка" />

        <div id="spot-search-results"
             class="spot-search-results"
             hidden>
        </div>
    </div>
</section>



<div class="map-wrapper">
    <div id="map" data-spots='@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Spots))'></div>
</div>






@section Scripts {
    <script src="~/js/map.js"></script>
    <script src="~/js/popup.js"></script>
    <script src="~/js/search.js"></script>
}