@page
@model IndexModel
@{
    ViewData["Title"] = "Street Workout Map Bulgaria";
}

<section class="hero-section">
    <p class="hero-label">STREET WORKOUT BULGARIA</p>

    <h1>Открий следващото си място за тренировка</h1>

    <p class="hero-description">
        Намери street workout площадки, оборудване и полезна информация
        на едно място.
    </p>
</section>

<div class="map-wrapper">
    <div id="map" data-spots='@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Spots))'></div>
</div>






@section Scripts {
    <script src="~/js/map.js"></script>
}