@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="map" data-spots='@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Spots))'></div>




@section Scripts {
    <script src="~/js/map.js"></script>
}